<%- include('partials/header'); -%>

<section>
    <h1>Edit Task</h1>
    <form action="/edit" method="POST">
        <label for="task">Task</label>
        <input type="text" name="taskContent" id="taskContent" value="<%= task.taskContent %>"> 
        <input type="hidden" value="<%= task._id %>" name="taskId">
        <button type="submit">Save</button>
    </form>
    <a href="/">Cancel</a>

</section>

<%- include('partials/footer'); -%>