<%- include('partials/header'); -%>

<header>
    <h1>Tasks Manager</h1>
</header>

<section>
    <form action="/add" method="POST">
        <h2>New Task</h2>
        <input type="text" name="task" required>
        <button type="submit">Add Task</button>
    </form>
    <% if (taskList.length>0) { %>
    <ul>
        <% taskList.forEach( task => { %>
            <li><%= task.taskContent %></li>
            <a href="/edit/<%= task._id %>">Edit</a>
            <form action="/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% }) %>
    </ul>
    <% } %>
    <form action="/editModal" method="POST">
        <button name="modal" value="open">Open</button>
    </form>

</section>


<%- include('partials/footer'); -%>